.App{
  font-family: "Study Case";
  width: 100vw;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1{
font-size: 40px;

}
p{
  font-size: 24px;
}
button{
  background-color: #00000000;
  font-family: "Study Case";
  font-size: 20px;
}
